@model IEnumerable<EntityLayer.Blog>
@{
    ViewData["Title"] = "BlogReadAll";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}



<!DOCTYPE html>
<html lang="zxx">


<body>

    <!--//banner-->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="/Blog/BlogReadAll/@item.BlogID/">
                                        <img src="@item.BlogImage" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i>@(((DateTime)item.BlogDate).ToString("dd.MMM.yy"))
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-thumbs-up" id="like"></i> @ViewBag.bloglike Likes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-comment"></i> @ViewBag.commentc Comments
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <h3>
                                <a href="single.html">@item.BlogTitle </a>
                            </h3>
                            <p>
                                @item.BlogContent
                            </p>
                            <a href="/Blog/Index/" class="btn btn-primary read-m">Bloglar</a>
                        </div>
                    }
                    @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.i })
                    @*@await Html.PartialAsync("~/Views/Comment/CommentListByBlog.cshtml")*@
                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")

                </div>

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/CoreBlogTema-main/web/images/banner1.jpg" class="img-fluid" alt="">
                            @* @await Component.InvokeAsync("CategoryList")*@
                        </div>
                        @await Component.InvokeAsync("WriterLastBlog", new { writerid = ViewBag.i })
                        <h4>Mail bultenine abone olunn</h4>

                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                        <div class="single-gd my-5 tech-btm">
                            <h4>Blog ve comment sayı</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="@ViewBag.countblog" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="@ViewBag.commentcount" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->
    
</body>

</html>