@using EntityLayer
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Bloglarım</h1>

<table class="table table-bordered table-hover" style="border-color:white;">
    <tr>
        <th>#</th>
        <th>Blog Baslik</th>
        <th>Tarih</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th colspan=2 style="text-align:center;">İşlermler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.category.CategoryName</td>
            @if (item.BlogStatus == true)
            {
                <td><span class="badge badge-success">Aktif</span></td>
            }
            else
            {
                <td><span class="badge badge badge-secondary">Pasif</span></td>
            }
            <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-outline-danger" onclick="return confirm('Silinsimmi? : @item.BlogTitle blog')">Sil</a></td>
            <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-outline-warning">Duzenle</a></td>
        </tr>
    }
</table>

<a href="/Blog/BlogAdd/" class="btn btn-outline-behance">Ekle</a>
