@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "Compose";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>


<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            @await Html.PartialAsync("~/Areas/Admin/Views/AdminMessageMenu/Default.cshtml")
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">
                    <div class="float-right tooltip-demo">
                        <a href="" class="btn btn-outline-warning btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-pencil"></i> Taslak</a>
                        <a href="/Admin/AdminMessage/Inbox/" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-times"></i> Iptal</a>
                    </div>
                    <h2>
                        Yeni mesaj yaz
                    </h2>
                </div>
                <div class="mail-box">
                    <div class="mail-body">

                        @using (Html.BeginForm("Compose", "AdminMessage", FormMethod.Post))
                        {
                            @Html.Label("Alıcı")
                            @Html.TextBoxFor(x => x.Message_Receiver, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Message_Receiver)
                            <br />
                            @Html.Label("Mesaj konusu")
                            @Html.TextBoxFor(x => x.Message_Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Message_Title)
                            <br />
                            @Html.Label("Mesaj")
                            @Html.TextBoxFor(x => x.Message_Context, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Message_Context)
                            <br />
                            <button class="btn btn-outline-success">Gonder</button>
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
