@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Send a message</h1>

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    @Html.Label("Receiver")
    @*@Html.TextBoxFor(x => x.Message_Title, new { @class = "form-control" })*@
    <input type="text" class="form-control" asp-for="ReceiverUser" />
    <br />

    @Html.Label("Message Topic")
    @Html.TextBoxFor(x => x.Message_Title, new { @class = "form-control" })
    <br />


    @Html.Label("Message ")
    @Html.TextBoxFor(x => x.Message_Context, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Send</button>
}