@model UserUpdateViewModel

@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazar profil düzenleme</h1>



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Ad Soyad</label><br />
                    <input type="text" asp-for="@Model.namesurname" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Kullanici ad </label>
                    <input type="text" asp-for="@Model.username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail adresi </label>
                    <input type="email" asp-for="@Model.mail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Yeni Sifreniz</label>
                    <input type="password" asp-for="@Model.password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Cinsiyyet</label>
                    <select class="form-control" id="exampleSelectGender">
                        <option>Erkek</option>
                        <option>Kadin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Profil sekli</label>
                    <input type="file" asp-for="@Model.imageurl" class="file-upload-default" />
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Dosya yukle">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Resmi sec</button>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Guncelle</button>
            </form>
        </div>
    </div>
</div>
