@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Bildirimler</h1>

<table class="table table-borderless" ">
    <tr>
        <th>#</th>
        <th>Notification</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    @foreach (var item in Model.OrderByDescending(x=>x.NotificationDate))
    {
        <tr>
            <td>@item.NotificationID</td>
            <td>@item.NotificationDetails</td>
            @if (@item.NotificationDate.DayOfYear < DateTime.Today.DayOfYear)
            {
                <td>@item.NotificationDate.ToLongDateString()</td>
                var time = DateTime.Today.DayOfYear - item.NotificationDate.DayOfYear;
                <td>@time days before</td>
            }
            else
            {

                <td>@item.NotificationDate.ToShortTimeString()</td>
                var time2hour = DateTime.Now.Hour - item.NotificationDate.Hour;
                var time2minute = DateTime.Now.Minute - item.NotificationDate.Minute;
                @if (time2hour == 0)
                {
                    <td>@time2minute minutes ago</td>
                }
                else
                {
                    <td>@time2hour hours ago</td>
                }

            }
        </tr>
    }
</table>